@{
    Layout = "_LayoutAdmin";
}


<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="book-open"></i></div>
                        Borrow Management
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container-xl px-4 mt-4">
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" id="nav-new-request-tab" data-bs-toggle="tab" data-bs-target="#new-request" role="tab" aria-controls="new-request" aria-selected="true">Incomming</a>
        <a class="nav-link" id="nav-approved-tab" data-bs-toggle="tab" data-bs-target="#nav-approved" role="tab" aria-controls="nav-approved" aria-selected="false">Approved</a>
        <a class="nav-link" id="nav-cancel-tab" data-bs-toggle="tab" data-bs-target="#nav-cancel" role="tab" aria-controls="nav-cancel" aria-selected="false">Cancel</a>
        <a class="nav-link" id="nav-returned-tab" data-bs-toggle="tab" data-bs-target="#nav-returned" role="tab" aria-controls="nav-returned" aria-selected="false">Returned</a>
        <a class="nav-link" id="nav-all-request-tab" data-bs-toggle="tab" data-bs-target="#nav-all-request" role="tab" aria-controls="nav-all-request" aria-selected="false">New</a>
    </nav>
    <hr class="mt-0 mb-4" />
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="new-request" role="tabpanel" aria-labelledby="nav-new-request-tab" tabindex="0">Incomming</div>
        <div class="tab-pane fade" id="nav-approved" role="tabpanel" aria-labelledby="nav-approved-tab" tabindex="0">Approved</div>
        <div class="tab-pane fade" id="nav-cancel" role="tabpanel" aria-labelledby="nav-cancel-tab" tabindex="0">Cancel</div>
        <div class="tab-pane fade" id="nav-returned" role="tabpanel" aria-labelledby="nav-returned-tab" tabindex="0">Returned</div>
        <div class="tab-pane fade" id="nav-all-request" role="tabpanel" aria-labelledby="nav-all-request-tab" tabindex="0">All</div>
    </div>
</div>